
body{
	padding-top: 20px;
	background: url(../img/stardust.png);
}
footer{
    text-align: center ;
    font-size: 12px ;
    height: 20px ;
    color: #a2a2a2;
    padding-bottom: 30px;
}
.container{
	width: 70%;
}

.navBarHeader{
	background:#333; 
}

.brandNameDiv{
	color: white;
	padding: 10px 0px;
	display: inline-block;
	width: 55%;
	height: 100%;
	font-size: 3.2em;
}

.nameHeader{
	font-family: 'Josefin Sans', sans-serif;
}
.cursiveNameHeader{
	font-family: 'Cedarville Cursive', cursive;
}
.nameInfo{
	font-size: 3.0em;
	display: block;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-top: 70px;
	color:#A86973;
}
.contactInfo{
	display: block;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
	font-size: 1.2em;
	padding-top: 15px;
}

.paragraph{
	padding: 5px 10px;
}

.logo{
	width: 10%;
	padding-left: 10px;
}
.logo:hover{
	cursor: pointer;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.emailLink{
	text-decoration: none;
	padding-right: 10px;
	color: #333;
}
.emailLink:hover{
	cursor: pointer;
	color: #A86973;
}
.phoneNumber{
	padding-left: 10px;
}
.resumeHeaders{
	font-size: 1.8em;
	padding: 5px 5px 0px 5px;
}
section{
	display: block;
	padding-top: 20px;
}
hr{
	padding-top: 0;
	margin-top: 0;
}
.resume{
	width: 80%;
	display: block;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
}

.navBar{
	display: inline-block;
	width: 44%;
}
.navBar li{
	list-style: none;
	display: inline;
	font-size:1.3em;
	margin-right: 5px;
	font-family: 'Josefin Sans', sans-serif;
}
.navBar a {              
	text-decoration: none;
	color: #b2b2b2;
	padding-right: 10px;
}
.navBar a:hover{
	color: white;
	cursor: pointer;
 	-webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	-ms-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}
.selectedPage a{
	color: white;

}


.contentBox{
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: #444 3px 3px 10px;

}

.myInfo{
	display: inline-block;	
	vertical-align: top;
	padding:20px;

}
.myInfoHeader{
	font-size: 1.5em;
	display: block;
	color:#555;
	font-family: 'Josefin Sans', sans-serif;
}


.barHeader{
	background: #777;
	width:100%;
	height:1px;
	margin-top: 30px;
}
.myPics{
	padding:20px;
}
.pic{
	width: 33%;
}

.tab { text-indent:40px; }
.paragraph, .favLists ul{
	font:1em Arial, Helvetica, sans-serif
}
.socialMedia{
	font-size: 25px;
	display: inline-block;
	padding-left:15px;
}
.socialMedia i{
	color:#b2b2b2;
	padding-right: 5px;
}

.socialMedia i:hover{
	color:#A86973;
	cursor: pointer;
	 -webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	-ms-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}
.skillList{
	list-style-type: none; 
	font-size:1.1em;
}
.workHeader{
	padding-top: 20px;
}
.workList{
	font-size: 1.0em;
}
.bold,.workTitle{
	font-weight: bold;
}
.workPlace{
	margin-left: 20px;
}
.workTime{
	float:right;
}
.skillList li, .workList li{
	padding: 5px;
}
.languagesDiv{
	width:50%; 
	display:inline-block; 
	vertical-align:top;
}
.programsDiv{
	display:inline-block; 
	vertical-align:top;
}
.resume{
	padding-bottom: 70px;
}
