body{
	padding: 20px;
	background: url(../img/stardust.png);
}
footer{
    text-align: center ;
    font-size: 12px ;
    height: 20px ;
    color: #a2a2a2;
}
.container{
	max-width:1000px;
}

.nameHeader{
	color: white;
	font-size: 5.0em;
	font-family: 'Raleway', sans-serif;
	padding: 10px 0px;
	display: inline-block;
}
.paragraph{

}

.logo{
	max-width:50px;
	display: inline-block;
}
.logo:hover{
	cursor: pointer;
}

.navBar{
	display: inline-block;
}
.navBar ul{
	margin:5px;
}
.navBar li{
	list-style: none;
	display: inline;
	font-size: 25px;
	margin-right: 10px;
}
.navBar a {              
	text-decoration: none;
	color: white;
}
.navBar a:hover{
	color: #A86973;
	cursor: pointer;

}

.contentBox{
	display: inline-block;
	margin-left: 10px;
}
.aboutBox{
	color:white;
	height:200px;
	max-width:640px;
	margin-top: 0;
	margin-bottom: 5px;
	padding: 10px;
	background: #3F5666;
	border-radius: 10px;
	box-shadow: #333 3px 3px 10px;
}
.skillBox{
	color:white;
	height:200px;
	width:305px;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 5px;
	padding: 10px;
	background: #572F41;
	border-radius: 10px;
	display: inline-block;
	vertical-align: text-bottom;
	box-shadow: #333 3px 3px 10px;
}
.hobbyBox{
	color:white;
	height:200px;
	width:305px;
	margin-top: 5px;
	margin-bottom: 0;
	margin-right: 5px;
	padding: 10px;
	background: #A86973;
	border-radius: 10px;
	display: inline-block;
	vertical-align: text-bottom;
	box-shadow: #333 3px 3px 10px;
}
.barHeader{
	background: #777;
	width:100%;
	height:2px;
	margin-top: 30px;
}
.myPic{
	max-width:220px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	box-shadow: #333 3px 3px 10px;
}
.tab { text-indent:40px; }
.paragraph{
	line-height: 20px;
}
.socialMedia{
	font-size: 35px;
	display: inline-block;
	padding-left:15px;
}
.socialMedia i{
	color:#a2a2a2;
}
.socialMedia i:hover{
	color:#A86973;
	cursor: pointer;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
