
body{
	padding-top: 20px;
	background: url(../img/stardust.png);
}
footer{
    text-align: center ;
    font-size: 12px ;
    height: 20px ;
    color: #a2a2a2;
    padding-bottom: 30px;
}
.container{
	width: 70%;
}

.nameHeader{
	color: white;
	font-size: 3.2em;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px 0px;
	display: inline-block;
	width: 55%;
	height: 100%;

}
.paragraph{
	padding: 5px 10px;
}

.logo{
	width: 10%;
}
.logo:hover{
	cursor: pointer;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navBar{
	display: inline-block;
	width: 44%;
}
.navBar li{
	list-style: none;
	display: inline;
	font-size:1.2em;
	margin-right: 5px;
	font-family: 'Josefin Sans', sans-serif;
}
.navBar a {              
	text-decoration: none;
	color: #b2b2b2;
	padding-right: 10px;
}
.navBar a:hover{
	color: white;
	cursor: pointer;
 	-webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	-ms-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}
.selectedPage a{
	color: white;

}


.contentBox{
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: #444 3px 3px 10px;

}

.myInfo{
	display: inline-block;	
	vertical-align: top;
	padding:20px;

}
.myInfoHeader{
	font-size: 1.5em;
	display: block;
	color:#555;
	font-family: 'Josefin Sans', sans-serif;
}


.barHeader{
	background: #777;
	width:100%;
	height:1px;
	margin-top: 30px;
}
.myPics{
	padding:20px;
}
.pic{
	width: 33%;
}
.tab { text-indent:40px; }
.paragraph, .favLists ul{
	font:14px Arial, Helvetica, sans-serif
}
.socialMedia{
	font-size: 25px;
	display: inline-block;
	padding-left:15px;
}
.socialMedia i{
	color:#b2b2b2;
	padding-right: 5px;
}

.socialMedia i:hover{
	color:#A86973;
	cursor: pointer;
	 -webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	-ms-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}

